/*właśnie się dowiedziałem że id i pewnie klasy też nie mogą być liczbowe #10 nie działa nic #n10 działa wszystko*/

#counter {
    position: relative;
    width: 250px;
    height: 100px;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 2em;
}

.frame {
    position: absolute;
    width: 250px;
    height: 100px;
    transform: scale(0);
    animation: csscounter 1s linear 1;
}


/*animacje*/

#n10 {
    animation-delay: 1s;
}

#n9 {
    animation-delay: 2s;
}

#n8 {
    animation-delay: 3s;
}

#n7 {
    animation-delay: 4s;
}

#n6 {
    animation-delay: 5s;
}

#n5 {
    animation-delay: 6s;
}

#n4 {
    animation-delay: 7s;
}

#n3 {
    animation-delay: 8s;
}

#n2 {
    animation-delay: 9s;
}

#n1 {
    animation-delay: 10s;
}

#n0 {
    background-color: aqua;
    animation: csscounter1 1s linear 1;
    animation-delay: 11s;
    animation-fill-mode: forwards;
}

@keyframes csscounter {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes csscounter1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}